[Match]
Name=eth0

[Network]
Gateway=192.168.0.1
DHCP=ipv4
DNS=10.10.10.10

[DHCPv4]
UseHostname=false
Hostname=hogehoge

[Address]
Address=192.168.0.10/24
Peer=192.168.0.2
