[Match]
Name=eth0

[Network]
Gateway=192.168.0.1
DHCP=yes
DNS=10.10.10.10
DNS=10.10.10.11

[DHCP]
Hostname=hogehoge

[DHCPv4]
UseHostname=false

[DHCPv6]
UseHostname=false

[Address]
Address=192.168.0.10/24
Peer=192.168.0.2
